@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Şifremi Unuttum</title>
    <link rel="stylesheet" href="~/css/ForgotPassword.css" />
</head>
<body>
    <div class="container">
        <h1>Şifremi Unuttum</h1>
        <form asp-action="ForgotPassword" asp-controller="Account" method="post">
            <div>
                <label for="email">E-posta Adresi:</label>
                <input type="email" id="email" name="email" required placeholder="E-posta adresinizi girin">
            </div>
            <div class="button-container">
                <div>
                <button class="button" type="submit">Şifre Sıfırlama Linki Gönder</button>
                </div>
            </div>
        </form>
        @if (TempData["ErrorMessage"] != null)
        {
            <p style="color: red;">@TempData["ErrorMessage"]</p>
        }
        @if (TempData["SuccessMessage"] != null)
        {
            <p style="color: green;">@TempData["SuccessMessage"]</p>
        }
    </div>
</body>
</html>
