@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Şifre Sıfırla</title>
    <link rel="stylesheet" href="~/css/ResetPassword.css" />
</head>
<body>
    <div class="container">
        <h1>Şifrenizi Sıfırlayın</h1>
       <form asp-action="ResetPassword" asp-controller="Account" method="post">
            <input type="hidden"/>
            <div>
                <label for="newPassword">Yeni Şifre:</label>
                <input type="password" id="newPassword" name="NewPassword" required>
            </div>
            <div>
                <label for="confirmPassword">Şifre Tekrar:</label>
                <input type="password" id="confirmPassword" name="ConfirmPassword" required>
            </div>
            <div class=" button-container">
                <div>
                <button type="submit" class="button">Şifreyi Sıfırla</button>
                </div>
            </div>
        </form>
        @if (TempData["ErrorMessage"] != null)
        {
            <p style="color: red;">@TempData["ErrorMessage"]</p>
        }
        @if (TempData["SuccessMessage"] != null)
        {
            <p style="color: green;">@TempData["SuccessMessage"]</p>
        }
    </div>
</body>
</html>
