* {
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../images/Login-Photo.png') no-repeat center center fixed; /* Fotoðrafý arkaplan olarak ekledik */
    background-size: cover; /* Fotoðrafýn ekraný tamamen kaplamasýný saðlar */
}
input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.container {
    background: rgba(255, 255, 255, 0.3); /* Beyaz ve %85 opaklýk */
    padding: 20px 30px;
    border-radius: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.button-conteiner1 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.btn-primary {
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    background: linear-gradient(to bottom, #2bc72b,#e6f9e6 );
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background 0.3s;
}
h1 {
    font-size: 2rem;
    text-align: center;
    padding: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-size: 1rem;
    margin-bottom: 5px;
    color: #333;
}

input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 35px;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button {
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    background: linear-gradient(to bottom, #2bc72b,#e6f9e6 );
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background 0.3s;
}

    .button:hover {
        background: #0056b3;
    }

.login-link {
    text-align: center;
    margin-top: 15px;
    font-size: 0.9rem;
}

    .login-link a {
        text-decoration: none;
        color: #007bff;
    }
