* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   background: url('../images/Login-Photo.png') no-repeat center center fixed; 
}

.container {
    background: rgba(255, 255, 255, 0.3);
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-size: 1rem;
    margin-bottom: 5px;
    color: #333;
}

input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button {
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    background: linear-gradient(to bottom, #2bc72b,#e6f9e6 );
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background 0.3s;
}

    .button:hover {
        background-color: #1d8f1d;
    }

.back-link {
    text-align: center;
    margin-top: 15px;
    font-size: 0.9rem;
}

    .back-link a {
        text-decoration: none;
        color: #007bff;
    }
