<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Unifinder</title>
    <link rel="stylesheet" href="~/css/_Layout.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <!-- Sol Menü -->
        <aside class="sidebar">
            <div class="sidebar-header-container">
                <div class="sidebar-header">
                    <label>Admin Panel</label>
                </div>
            </div>
            <div class="icon-menu">
                <div class="icon" onclick="location.href='@Url.Action("Profile", "Home")'">
                    <i class="fa-regular fa-user"></i>
                </div>
                <div class="icon" onclick="location.href='@Url.Action("Index", "Home")'">
                    <i class="fa-solid fa-book"></i>
                </div>
                <div class="icon" onclick="location.href='@Url.Action("ProfileList", "Home")'">
                    <i class="fas fa-search"></i>
                </div>
                <div class="icon">
                    <i class="fas fa-cog"></i>
                </div>
            </div>
        </aside>

        <!-- Sağ İçerik -->
        <main class="profile">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
