<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unifinder</title>
    <link rel="stylesheet" href="~/css/_Layout.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Playwrite+IE+Guides&display=swap" rel="stylesheet">
</head>
<body>

    <div class="container">
        <!-- Sol Menü -->
        <aside class="sidebar">
            <div class="sidebar-header-conteiner">
                <div class="sidebar-header">
                    <label for="password">Admin Panel</label>
                </div>
            </div>

            <!-- Menü İkonları -->
            <div class="icon-menu">
                <div class="icon">
                    <i class="fa-regular fa-user" onclick="location.href='@Url.Action("KendiProfil", "Home")'"></i>
                    <span class="sr-only">Profil</span>
                </div>
                <div class="icon">
                    <i class="fa-solid fa-book"></i>
                    <span class="sr-only">Mesajlar</span>
                </div>
                <div class="icon">
                    <i class="fas fa-search" onclick="location.href='@Url.Action("ProfileList", "Home")'"></i>
                    <span class="sr-only">Arama</span>
                </div>
                <div class="icon">
                    <i class="fas fa-cog"></i>
                    <span class="sr-only">Ayarlar</span>
                </div>
            </div>
        </aside>

        <!-- Sağ İçerik -->
        <main class="profile">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
